body{
    /* align-items: center; */
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(219,179,127);
background: linear-gradient(90deg, rgba(219,179,127,1) 17%, rgba(251,127,83,1) 52%, rgba(241,186,135,1) 89%);
}
h1{
text-align: center;
}
/* outer div for whole form section */
#outer{
    /* border:1px solid black; */

    display: flex;
    flex-direction: column;
    height:33vh;
    width: 60%;
    margin-left: 20%;
}
#desc{
    /* border: 1px solid grey; */
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding: 2px;
    margin: 1px;
    height: 70%;
}
#desc-label{
    font-weight:bolder ;
    padding: 1px;
    margin-bottom: 3px;
}
#task{
    width: 98%;
    height: 62%;
}


#double{
    border-bottom:1px solid whitesmoke ;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 54%;
    width: 98%;
    justify-content: space-between;
}
 #cat{
width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
} 
#category{
    height: 51%;
    margin-top: 3px;
}
#dates{
    width: 50%;
    
    display: flex;
    flex-direction: column;
}
#date{
    height: 45%;
    margin-top: 3px;
}
/* buttons */
#btns{
    width: 99%;
    text-align: center;
    /* border: 1px solid rgb(119, 195, 7); */
    height: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8px;
}
.btn-styl{
    padding: 3px;
    width: 126px;
    border: none;
    height: 30px;
}
#btn1{
    margin-right: 60px;
}
#btn1:hover{
cursor: pointer;
}
#delete-btn{
    padding-top: 2px;
    height: 31px;
    width: 126px;
    color: white;
    background-color: red;
}
#delete-btn:hover{
    cursor: pointer;
}
.delete-btn a{
    color: white;
    text-decoration: none;
}

/* second div , where list is displayed */

#second{
    margin: 10px;
    /* border: 1px solid black; */
    margin-left: 20%;
    height: 50vh;
    overflow-y: scroll;
    border-top: 1px solid whitesmoke;
    width: 60%;
}
#second::-webkit-scrollbar {
    display: none;
  }
  

#whole{
    width: 99%;
    height: 20%;
    border-bottom: 1px solid whitesmoke;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}
#whole:hover{
    box-shadow: 0px 0px 8px 10px white;

}
#content{
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    flex-direction: row;
}
#data{
    width: 90%;
    
    display: inline-block;
    display: flex;
    flex-direction: row;
}
#cont{
    width: 90%;
}
.pencil{
    right: 0px;
    margin-top: 5px;
}
#content p{
    display: inline-block;
    margin: 0px;
    margin-top: 7px;
}
.dispdsc{
    text-decoration: none;
}
.dueDate{
text-decoration: none;
}
#type{
    /* border: 2px solid blue; */
    color: white;
    background-color: rgb(133, 135, 230);
    width: 102px;
    padding: 0px;
    height: 46px;
    text-align: center;
    margin-top: 14px;
}




/* media queries */
@media screen and (max-width: 1000px){
    
    #outer{
        width: 96%;
        margin-left: 0px;
        height: 34vh;
    }
    #desc-label {
        font-weight: bolder;
        padding: 1px;
        margin-bottom: 3px;
        font-size: large;
    }
    #task{
        height: 46%;
    }
    #cat{
        width: 42%;
    }
    #dates{
        width: 48%;
    }
    #btns{
        margin-top: 10px;
    }
    #second{
        width: 96%;
        margin-left: 0px;
    }
    #content{
        overflow-x: scroll;
    }
}
